{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<head>
    <title>exotiq</title>
</head>
<body>
    <header>
        <h1> Welcome to exotique</h1>
        <h3> <i> Curating Exotic Beauty, Redefining Luxury </i></h3>
        <div> 
            <p> Nama : Rebecca Zaneta Octoria Hutajulu</p>
            <p> Kelas : PBP-E </p>

        </div>
    </header>
    <h2> Our Items </h2>
    <ul>

        {% for item in items %}
        <li>
            <div class="Items">
                <h3>{{ item.name }}</h3>
                <p><i> {{ item.description }} </i></p>
                <p>Price: Rp {{ item.price }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    
    {% if not item_entries %}
    <p>Belum ada data product pada exotiq.</p>
    {% else %}
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    
      {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
      {% endcomment %} 
      {% for item_entry in items_entries %}
      <tr>
        <td>{{item_entry.name}}</td>
        <td>{{item_entry.price}}</td>
        <td>{{item_entry.description}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:create_items_entry' %}">
      <button>Add New Item Entry</button>
    </a> 

    <a href="{% url 'main:logout' %}">
      <button>Logout</button>
    </a>
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <p>  <i> 2024 exotique  - All Rights Reserved </i> </p>
</body>
</html>


{% endblock content %}



<!-- <h1>exotiq</h1>

<p><strong>Name:</strong> Lanvin Black Gold Pencil Cat Leather Shoulder Bag</p>
<p><strong>Price:</strong> Rp 54.500.000</p>
<p><strong>Description:</strong> The Pencil Cat is embellished with a precious sculptural handle.</p> -->
